#game-container {
    width: 100%;
    min-height: 800px;;
    border: 1px solid #000;
    position: relative;
  }
  
  .ship {
    width: 40px;
    height: 40px;
    background-color: blue;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .alien {
    width: 50px;
    height: 50px;
    background-color: red;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .bullet {
    width: 5px;
    height: 10px;
    background-color: yellow;
    position: absolute;
    display: none;
  }
  